---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

export async function getStaticPaths() {
    return ["es", "en"].map((lang) => {
        return { params: { lang } };
    });
}
---


<section class="relative">
    <img
        src="/libella-pilates-(7).webp"
        alt="Imagen de fondo"
        class="absolute inset-0 w-full h-full object-cover object-center"
    />
    <div class="absolute inset-0 bg-black opacity-50"></div>
    <div
        class="relative px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56"
    >
        <h1
            class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl"
        >
            {t("sub-header")}
        </h1>
    </div>
</section>
